<div class="contentTop">

	<div class="card card-folder" ng-repeat="item in items" data-id="item.id"context-menu="onRightClick(this)" data-target="item-menu">
		{{ item.id }} : {{ item.name }}
	
	</div>
	
	
	<!-- context Menu -->
	<div id="item-menu" class='contextMenu menu blue' style="position: fixed;">
		<div class="item" ng-repeat="m in contextMenu" ng-click="m.click()" ng-class="{'underline': m.underline}">
			<div class="label" fit>{{ m.text }}</div>
			<paper-ripple fit></paper-ripple>
		</div> 
	</div>

</div>