@CHARSET "UTF-8";

#navigationView {
	text-align: left;
}

.naviTop, .treeTop {
	padding: 10px 10px 0 10px;
}
#navigationView .btn_upload {
	float: left;
}

#navigationView .btn_share {
	float: right;
}

#navigationView .btn_upload, 
#navigationView .btn_share {
	width: 113px;
	font-size: 14px;
	font-weight: 600;
}

div.quotaDiv {
	width: 230px;
	height: 110px;
	margin: 10px 0;
	text-align: center;
}

div.shareInfoDiv {
	width: 230px;
	height: 25px;
	text-align: center;
	padding-top: 10px;
	position: relative;
}


div.folderTreeWrap {
	width: 230px;
}

div.folderTreeWrap > div {
	position: relative;
}

div.folderTreeWrap > div:after {
	content:" "; 
	display:block; 
	clear:both;
}



.contentTop {
	min-width: 300px;
	padding: 10px;
	text-align: left;
}

.card-folder {
	width: 120px;
	height: 140px;
	margin: 10px;
}