<div class="treeTop">
	<!-- Nested node template -->
	<script type="text/ng-template" id="nodes_renderer.html">
		<div ui-tree-handle>
			<i data-nodrag class="icon fa-minus-circle" ng-if="folder.children.length" ng-click="toggle(this)" ng-class="{'fa-minus-circle': !collapsed, 'fa-plus-circle': collapsed}"> </i>
			<button class="btn tree-blank-head" ng-if="!folder.children.length"></button>
			<span>
				<i data-nodrag class="icon fa-folder" ng-if="!folder.children.length || collapsed"> </i>
				<i data-nodrag class="icon fa-folder-open" ng-if="folder.children.length && !collapsed"> </i>
				{{ folder.name }}
			</span>
		</div>
		<ol ui-tree-nodes="options" ng-model="folder.children" ng-class="{hidden: collapsed}">
			<li ng-repeat="folder in folder.children" ui-tree-node ng-hide="!treeFilter(folder, search, filterFields)" ng-include="'nodes_renderer.html'" context-menu="onRightClick(this)" data-target="menu" collapsed="false">
			</li>
		</ol>
	</script>
	
	<div class="folderTreeWrap card">
		<div ui-tree="options" data-drag-enabled="dragEnabled || !search.length">
			<div ui-tree-placeholder class="treeLock" ng-click="toggleTreeLock(this)">
				<i data-nodrag class="icon fa-lock" ng-if="!dragEnabled"></i>
				<i data-nodrag class="icon fa-unlock" ng-if="dragEnabled"></i>
				<paper-ripple class="recenteringTouch" fit></paper-ripple>
			</div>
			<div ui-tree-placeholder class="collapseAll" ng-click="collapseAll(this)">
				<i data-nodrag class="icon fa-minus-square-o"></i>
				<paper-ripple class="recenteringTouch" fit></paper-ripple>
			</div>
			<div ui-tree-placeholder class="expandAll" ng-click="expandAll(this)">
				<i data-nodrag class="icon fa-plus-square-o"></i>
				<paper-ripple class="recenteringTouch" fit></paper-ripple>
			</div>
			<div class="treeSearchWrap">
				<input type="search" placeholder="폴더명 검색" ng-model="search" class="treeSearch">
			</div>
			<ol ui-tree-nodes ng-model="folderTree">
				<li ng-repeat="folder in folderTree" ui-tree-node ng-hide="!treeFilter(folder, search, filterFields)" ng-include="'nodes_renderer.html'" context-menu="onRightClick(this)" data-target="menu" collapsed="false"></li>
			</ol>
		</div>
	</div>
	
	
	
	
	<div id="menu" class='contextMenu menu blue' style="position: fixed;">
		<div class="item" ng-click="newfolder()">
			<div class="label" fit>새폴더</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item" ng-click="upload()">
			<div class="label" fit>파일올리기</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item underline" ng-click="download()">
			<div class="label" fit>내려받기</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item underline" ng-click="share()">
			<div class="label" fit>공유하기</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item" ng-click="cut()">
			<div class="label" fit>잘라내기</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item" ng-click="move()">
			<div class="label" fit>이동</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item" ng-click="newfolder()">
			<div class="label" fit>복사</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item underline" ng-click="paste()">
			<div class="label" fit>붙여넣기</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item" ng-click="del()">
			<div class="label" fit>삭제</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item underline" ng-click="rename()">
			<div class="label" fit>이름변경</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item underline" ng-click="favorite()">
			<div class="label" fit>중요 표시하기</div>
			<paper-ripple fit></paper-ripple>
		</div>
		<div class="item" ng-click="attribute()">
			<div class="label" fit>속성</div>
			<paper-ripple fit></paper-ripple>
		</div>
		
	</div>
</div>