<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle>
		<button class="btn tree-head tree-head-collapse" ng-if="folder.children.length" data-nodrag ng-click="toggle(this)" ng-class="{'tree-head-collapse': !collapsed, 'tree-head-expand': collapsed}"></button>
		<button class="btn tree-blank-head" ng-if="!folder.children.length"></button>
		<span>{{ folder.name }}</span>
	</div>
	<ol ui-tree-nodes="" ng-model="folder.children" ng-class="{hidden: collapsed}">
		<li ng-repeat="folder in folder.children" ui-tree-node ng-include="'nodes_renderer.html'" context-menu="onRightClick(this)" data-target="menu" collapsed="true">
		</li>
	</ol>
</script>

<div>
	<div ui-tree>
		<ol ui-tree-nodes="" ng-model="folderTree" id="tree-root">
			<li ng-repeat="folder in folderTree" ui-tree-node ng-include="'nodes_renderer.html'" context-menu="onRightClick(this)" data-target="menu" collapsed="true"></li>
		</ol>
	</div>
</div>

<div id="menu" class='contextMenu' style="position: fixed;">
	<ul>
		<li ng-click="upload()">파일올리기</li>
		<li ng-click="download()"class='underline'>내려받기</li>
		<li ng-click="share()" class='underline'>공유하기</li>
		<li ng-click="cut()" >잘라내기</li>
		<li ng-click="move()" >이동</li>
		<li ng-click="copy()">복사</li>
		<li ng-click="paste()" class='underline'>붙여넣기</li>
		<li ng-click="del()" >삭제</li>
		<li ng-click="rename()"  class='underline'>이름변경</li>
		<li ng-click="favorite()" class='underline'>중요 표시하기</li>
		<li ng-click="attribute()" >속성</li>
	</ul>
</div>